
@font-face{font-family:"Bangers";src:url("list_font/Bangers.ttf");}
@font-face{font-family:"Boogaloo";src:url("list_font/Boogaloo-Regular.ttf");}
@font-face{font-family:"Bubblegum Sans";src:url("list_font/BubblegumSans-Regular.ttf");}
@font-face{font-family:"Fredoka One";src:url("list_font/FredokaOne-Regular.ttf");}
@font-face{font-family:"Graduate";src:url("list_font/Graduate-Regular.ttf");}
@font-face{font-family:"Sansita One";src:url("list_font/SansitaOne.ttf");}

*{padding:0;margin:0 auto;}

/*
hijau #8dc73f;
bgBiru telor asin #01aee8;
abu background:#2081a4;
orange background:#fe5600;
biru tua #175594;
merah #c11010;
*/
body{
	background:#D4DEE7;
	font-family:arial;
}



a{
	text-decoration:none;
	border:0px solid #ccc;
}

a,button,input[type=submit]{
	cursor:pointer;
}

select,option,input[type=text],input[type=password],input[type=number],input[type=email]{
	border:0px solid #ccc;
	padding-left:5px;
	background:#fff;
	font-size:100%;
}

table{
	width:100%;
}

.birutua{
	color:#97AEBE;
}

.merah{
	color:red;
}

.putih{
	color:#fff;
}

div{border:0px solid #ccc;}

#div_header{position:fixed;top:0;}

#div_shoutcap{position:relative;text-align:center;border:0px solid #ccc;background:#8dc73f;}
#div_shoutcapimg{position:absolute;width:100%;height:100%;background:#cfdee5;}
#div_shoutcapimg img{height:100%;}
#div_shoutarea{position:absolute;border:1px solid #ccc;}
#div_shoutareacaption{position:absolute;border:1px solid #ccc;border-top:0;}
#div_typehere{position:absolute;color:#9DAFBD;width:100%;height:100%;font-size:100%;}
#div_typeherecaption{position:absolute;color:#9DAFBD;width:100%;height:100%;font-size:70%;text-align:right;}
#tx_shout{position:absolute;line-height:95%;resize:none;overflow:hidden;text-align:center;width:100%;height:100%;top:0;left:0;background:transparent;border:0px  solid #ccc;}
#tx_shoutcaption{position:absolute;line-height:95%;resize:none;overflow:hidden;text-align:right;width:100%;height:100%;top:0;left:0;background:transparent;border:0px  solid #ccc;}

#tb_resize{
	border:0px solid red;
	position:absolute;
	width:40%;
	height:15%;
	right:0;
}

.div_menucreate{width:100%;}
.div_menucreate input[type=submit],.div_menucreate button{display:block;vertical-align:middle;text-align:center;width:100%;background:transparent;color:#fff;border:0px solid #ccc;font-size:80%;}
.div_menucreate_judul{
	position:relative;text-align:left;width:100%;height:35%;border:0px solid #ccc;color:#fff;font-size:65%;
	padding-left:5px;
}
.div_menucreate_desk{
	position:relative;text-align:center;width:100%;height:65%;border:0px solid #ccc;color:#fff;font-size:80%;text-transform:uppercase;
}

.tb_menucreate{width:100%;height:100%;margin:0 auto;border-collapse:collapse;}
.tb_menucreate th{font-weight:bold;background-color:#ccc;}
.tb_menucreate tr{border-bottom:0px solid #ccc}
.tb_menucreate tr.last{border-bottom:0}
.tb_menucreate td{vertical-align:middle;white-space:nowrap;text-align:center;border:0px solid #01aee8;}


#tb_formsignin{width:100%;height:100%;margin:0 auto;border-collapse:collapse;}
#tb_formsignin th{font-weight:bold;background-color:#ccc;}
#tb_formsignin tr{border-bottom:0px solid #ccc}
#tb_formsignin tr.last{border-bottom:0}
#tb_formsignin td{vertical-align:middle;white-space:nowrap;text-align:center;border:0px solid #01aee8;}


#tb_headsignin{width:100%;height:100%;margin:0 auto;border-collapse:collapse;font-size:70%;}
#tb_headsignin th{font-weight:bold;background-color:#ccc;}
#tb_headsignin tr{border-bottom:0px solid #ccc}
#tb_headsignin tr.last{border-bottom:0}
#tb_headsignin td{vertical-align:middle;white-space:nowrap;text-align:center;border:0px solid #01aee8;}
#tb_headsignin a{color:#fff;} 


#div_menucreate_model{width:100%;height:100%;background:#1bbc9b;}
#div_menucreate_size{width:100%;height:100%;background:#2ecd71;}
#div_menucreate_fontfamily{width:100%;height:100%;background:#16a086;}
#div_menucreate_fontcolor{width:100%;height:100%;background:#27ae61;}
#div_menucreate_option{width:100%;height:100%;background:#3598DC;}
#div_menucreate_suggestions{width:100%;height:100%;background:#e77e23;}
#div_menucreate_share{width:100%;height:100%;background:#175594;}
#div_menucreate_preview{width:100%;height:100%;background:#e84c3d;}

#div_slidemodel{
	height:100%;
}

#div_menuwelcome{
	text-align:center;
}

.menu_select{
	position:absolute;top:0;left:0;width:100%;height:100%;
	background:#cfdee5;
	text-align:left;
}

#menu_select_kategori{
	background:#154e88;
}

.menu_select_kategories{
	width:100%;
}
#menu_select_kategori_Classic{
	background:#8bc83f;
	height:33%;
}

#menu_select_kategori_Color{
	background:#ff5700;
	height:33%;
}

#menu_select_kategori_Mixed{
	background:#154e88;
	height:34%;
}

.swipe {  
    overflow: hidden;  
    position: relative;  
    width: 100%;  
    height: 100%; 
    margin: 0 auto; 
}  
.swipe-wrap {  
    overflow: hidden;  
    position: relative;  
}  
.swipe-wrap > div {  
    float: left;  
    width: 100%;  
    position: relative;  
} 



::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 8px;
}

::-webkit-scrollbar:horizontal {
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 1px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 5px;  
    background-color: #ffffff; 
}


#div_headformsignin{
	width:100%;height:auto;
	background:#8dc73f;
	color:#fff;
	position:fixed;
}

#div_info{
	width:100%;height:100%;
	background:#2081a4;
	color:#fff;
	position:fixed;
}


table.tbcart{width:100%;height:auto;margin:0 auto;border-collapse:collapse;border:0px solid red;font-size:75%;}
table.tbcart th{font-weight:bold;background:#00AEEF;border:1px solid #ccc;color:#fff;}
table.tbcart tr{border-bottom:1px solid #ccc}
table.tbcart tr.last{border-bottom:0}
table.tbcart td{text-align:center;vertical-align:middle;white-space:nowrap;align:center;border:0px solid #ccc;background:#FFF;}

.td_cartimage{
	padding:2px;
}


table.tbtujuan{width:95%;height:auto;margin:0 auto;border-collapse:collapse;font-size:90%;}
table.tbtujuan th{font-weight:bold;background:#00AEEF;border:1px solid #ccc;color:#fff;}
table.tbtujuan tr{border-bottom:0px solid #ccc}
table.tbtujuan tr.last{border-bottom:0}
table.tbtujuan td{padding:2px;text-align:left;vertical-align:middle;white-space:nowrap;align:center;border:0px solid #ccc;background:#FFF;}

table.tbinvoice{width:100%;height:auto;margin:0 auto;border-collapse:collapse;border:0px solid red;}
table.tbinvoice th{font-weight:bold;background-color:#00AEEF;border:1px solid #ccc;color:#fff;text-align:center;}
table.tbinvoice tr{border-bottom:1px solid #ccc}
table.tbinvoice tr.last{border-bottom:1px}
table.tbinvoice td{text-align:center;vertical-align:middle;white-space:nowrap;border:1px solid #ccc;font-size:12px;}


table.tb_signup{width:100%;height:auto;margin:0 auto;border-collapse:collapse;font-size:80%;}
table.tb_signup th{font-weight:bold;background-color:#ccc;}
table.tb_signup tr{border-bottom:0px solid #ccc}
table.tb_signup tr.last{border-bottom:0}
table.tb_signup td{
	text-align:left;vertical-align:top;border:0px solid #ccc;
	padding:2px;
}
table.tb_signup tr td:first-child{width:20%;}

.tb_signup input[type=text],.tb_signup input[type=password],.tb_signup input[type=number],.tb_signup input[type=email]{
	border:1px solid #ccc;
}

#div_title{
width:100%;padding-top:5px;padding-bottom:5px;color:#fff;text-align:center;background:#c11010;text-transform: uppercase;
}

input[type=checkbox] {
  /* All browsers except webkit*/
  transform: scale(1.5);

  /* Webkit browsers*/
  -webkit-transform: scale(1.5);
}

.avatar{
border-radius: 30px;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
}

@media screen and (max-width:359px){
	body{font-size:15px;}
	#div_header,#div_headerspasi,#tb_headsignin td{height:39px;}
	#div_wrapper,#div_header{width:320px;}
	#div_main,#div_shoutcap,#div_sliderwelcome{width:280px;}
	#div_sliderwelcome{height:280px;}
	#div_shoutcap{height:262px;}
	#div_shoutarea{width:206px;height:88px;top:79px;left:35px;}
	#div_shoutareacaption{width:206px;height:14px;top:152px;left:35px;}
	#tx_shout{font-size:85px;}
	#tx_shoutcaption{font-size:10px;}
	.div_spasi{height:4px;}
	.div_menucreate,.div_menucreate input[type=submit],.div_menucreate button,#action{height:40px;}
	#div_slidemodel{width:200px;}
	#div_menuwelcome{height:93px;}
	#tb_resize{bottom:-5px;}
	input[type=text],input[type=password],input[type=number],input[type=email]{height:25px;}
	#div_headformsignin,#div_info{top:35px;}
	.td_cartimage{height:80px;width:80px;}
}

@media screen and (min-width:360px) and (max-width:399px){
	body{font-size:17px;}
	#div_header,#div_headerspasi,#tb_headsignin td{height:45px;}
	#div_wrapper,#div_header{width:360px;}
	#div_main,#div_shoutcap,#div_sliderwelcome{width:320px;}
	#div_sliderwelcome{height:320px;}
	#div_shoutcap{height:299px;}
	#div_shoutarea{width:235px;height:100px;top:90px;left:40px;}
	#div_shoutareacaption{width:235px;height:15px;top:174px;left:40px;}
	#tx_shout{font-size:97px;}
	#tx_shoutcaption{font-size:11px;}
	.div_spasi{height:5px;}
	.div_menucreate,.div_menucreate input[type=submit],.div_menucreate button,#action{height:46px;}
	#div_slidemodel{width:229px;}
	#div_menuwelcome{height:107px;}
	#tb_resize{bottom:-6px;}
	input[type=text],input[type=password],input[type=number],input[type=email]{height:29px;}
	#div_headformsignin,#div_info{top:40px;}
	.td_cartimage{height:91px;width:91px;}
}
@media screen and (min-width:400px) and (max-width:439px){
	body{font-size:19px;}
	#div_header,#div_headerspasi,#tb_headsignin td{height:50px;}
	#div_wrapper,#div_header{width:400px;}
	#div_main,#div_shoutcap,#div_sliderwelcome{width:360px;}
	#div_sliderwelcome{height:360px;}
	#div_shoutcap{height:336px;}
	#div_shoutarea{width:264px;height:113px;top:102px;left:45px;}
	#div_shoutareacaption{width:264px;height:18px;top:196px;left:45px;}
	#tx_shout{font-size:109px;}
	#tx_shoutcaption{font-size:14px;}
	.div_spasi{height:5px;}
	.div_menucreate,.div_menucreate input[type=submit],.div_menucreate button,#action{height:51px;}
	#div_slidemodel{width:257px;}
	#div_menuwelcome{height:120px;}
	#tb_resize{bottom:-6px;}
	input[type=text],input[type=password],input[type=number],input[type=email]{height:32px;}
	#div_headformsignin,#div_info{top:45px;}
	.td_cartimage{height:103px;width:103px;}
}
@media screen and (min-width:440px) and (max-width:479px){
	body{font-size:21px;}
	#div_header,#div_headerspasi,#tb_headsignin td{height:56px;}
	#div_wrapper,#div_header{width:440px;}
	#div_main,#div_shoutcap,#div_sliderwelcome{width:400px;}
	#div_sliderwelcome{height:400px;}
	#div_shoutcap{height:374px;}
	#div_shoutarea{width:294px;height:125px;top:113px;left:50px;}
	#div_shoutareacaption{width:294px;height:19px;top:218px;left:50px;}
	#tx_shout{font-size:121px;}
	#tx_shoutcaption{font-size:15px;}
	.div_spasi{height:6px;}
	.div_menucreate,.div_menucreate input[type=submit],.div_menucreate button{height:57px;}
	#div_slidemodel{width:286px;}
	#div_menuwelcome{height:133px;}
	#tb_resize{bottom:-7px;}
	input[type=text],input[type=password],input[type=number],input[type=email]{height:36px;}
	#div_headformsignin,#div_info{top:50px;}
	.td_cartimage{height:114px;width:114px;}
}
@media screen and (min-width:480px) and (max-width:519px){
	body{font-size:23px;}
	#div_header,#div_headerspasi,#tb_headsignin td{height:61px;}
	#div_wrapper,#div_header{width:480px;}
	#div_main,#div_shoutcap,#div_sliderwelcome{width:440px;}
	#div_sliderwelcome{height:440px;}
	#div_shoutcap{height:411px;}
	#div_shoutarea{width:323px;height:138px;top:124px;left:55px;}
	#div_shoutareacaption{width:323px;height:22px;top:239px;left:55px;}
	#tx_shout{font-size:133px;}
	#tx_shoutcaption{font-size:18px;}
	.div_spasi{height:6px;}
	.div_menucreate,.div_menucreate input[type=submit],a{height:63px;}
	#div_slidemodel{width:314px;}
	#div_menuwelcome{height:147px;}
	#tb_resize{bottom:-8px;}
	input[type=text],input[type=password],input[type=number],input[type=email]{height:39px;}
	#div_headformsignin,#div_info{top:55px;}
	.td_cartimage{height:126px;width:126px;}
}

@media screen and (min-width:520px) and (max-width:559px){
	body{font-size:25px;}
	#div_header,#div_headerspasi,#tb_headsignin td{height:67px;}
	#div_wrapper,#div_header{width:520px;}
	#div_main,#div_shoutcap,#div_sliderwelcome{width:480px;}
	#div_sliderwelcome{height:480px;}
	#div_shoutcap{height:449px;}
	#div_shoutarea{width:353px;height:150px;top:136px;left:60px;}
	#div_shoutareacaption{width:353px;height:23px;top:262px;left:60px;}
	#tx_shout{font-size:145px;}
	#tx_shoutcaption{font-size:19px;}
	.div_spasi{height:7px;}
	.div_menucreate,.div_menucreate input[type=submit],.div_menucreate button{height:69px;}
	#div_slidemodel{width:343px;}
	#div_menuwelcome{height:160px;}
	#tb_resize{bottom:-9px;}
	input[type=text],input[type=password],input[type=number],input[type=email]{height:43px;}
	#div_headformsignin,#div_info{top:60px;}
	.td_cartimage{height:137px;width:137px;}
}

@media screen and (min-width:560px) and (max-width:599px){
	body{font-size:27px;}
	#div_header,#div_headerspasi,#tb_headsignin td{height:72px;}
	#div_wrapper,#div_header{width:560px;}
	#div_main,#div_shoutcap,#div_sliderwelcome{width:520px;}
	#div_sliderwelcome{height:520px;}
	#div_shoutcap{height:486px;}
	#div_shoutarea{width:382px;height:163px;top:147px;left:65px;}
	#div_shoutareacaption{width:382px;height:26px;top:283px;left:65px;}
	#tx_shout{font-size:157px;}
	#tx_shoutcaption{font-size:22px;}
	.div_spasi{height:7px;}
	.div_menucreate,.div_menucreate input[type=submit],.div_menucreate button{height:74px;}
	#div_slidemodel{width:371px;}
	#div_menuwelcome{height:173px;}
	#tb_resize{bottom:-9px;}
	input[type=text],input[type=password],input[type=number],input[type=email]{height:46px;}
	#div_headformsignin,#div_info{top:65px;}
	.td_cartimage{height:149px;width:149px;}
}

@media screen and (min-width:600px) and (max-width:639px){
	body{font-size:29px;}
	#div_header,#div_headerspasi,#tb_headsignin td{height:78px;}
	#div_wrapper,#div_header{width:600px;}
	#div_main,#div_shoutcap,#div_sliderwelcome{width:560px;}
	#div_sliderwelcome{height:560px;}
	#div_shoutcap{height:523px;}
	#div_shoutarea{width:411px;height:176px;top:158px;left:70px;}
	#div_shoutareacaption{width:411px;height:28px;top:305px;left:70px;}
	#tx_shout{font-size:169px;}
	#tx_shoutcaption{font-size:24px;}
	.div_spasi{height:8px;}
	.div_menucreate,.div_menucreate input[type=submit],.div_menucreate button{height:80px;}
	#div_slidemodel{width:400px;}
	#div_menuwelcome{height:187px;}
	#tb_resize{bottom:-10px;}
	input[type=text],input[type=password],input[type=number],input[type=email]{height:50px;}
	#div_headformsignin,#div_info{top:70px;}
	.td_cartimage{height:160px;width:160px;}
}

@media screen and (min-width:640px){
	body{font-size:31px;}
	#div_header,#div_headerspasi,#tb_headsignin td{height:84px;}
	#div_wrapper,#div_header{width:640px;}
	#div_main,#div_shoutcap,#div_sliderwelcome{width:600px;}
	#div_sliderwelcome{height:600px;}
	#div_shoutcap{height:561px;}
	#div_shoutarea{width:441px;height:188px;top:170px;left:75px;}
	#div_shoutareacaption{width:441px;height:30px;top:327px;left:75px;}
	#tx_shout{font-size:181px;}
	#tx_shoutcaption{font-size:26px;}
	.div_spasi{height:9px;}
	.div_menucreate,.div_menucreate input[type=submit],.div_menucreate button{height:86px;}
	#div_slidemodel{width:429px;}
	#div_menuwelcome{height:200px;}
	#tb_resize{bottom:-11px;}
	input[type=text],input[type=password],input[type=number],input[type=email]{height:54px;}
	#div_headformsignin,#div_info{top:75px;}
	.td_cartimage{height:17px;width:171px;}
}

